<a href="https://colab.research.google.com/github/zaki43325010/Tugas-AlPro-6/blob/main/Penugasan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.	Akses Elemen List

In [1]:
mahasiswa=["Andi","Budi","Bagas","Bagus","Cahya"]
print(mahasiswa[0])
print(mahasiswa[-1])
print(mahasiswa[1])

Andi
Cahya
Budi

#2.	Operasi Dasar List

In [4]:
nilai=[70,75,80]
nilai[1]=85
nilai.append(90)
nilai.remove(70)
print(nilai)

[85, 80, 90]

#3.	Slicing List

In [20]:
angka=[1,2,3,4,5,6,7,8,9,10]
print(angka[:3])
print(angka[-4:])
print(angka[1::2])

[1, 2, 3]
[7, 8, 9, 10]
[2, 4, 6, 8, 10]

#4.	List 2D – Matriks

In [21]:
matriks=[
    [1,2,3],
    [4,5,6]
]
print(matriks[0][1])
print(matriks[1][2])
print(matriks[0])

2
6
[1, 2, 3]

#5.	Operasi Matriks 2D

In [32]:
A=[
    [1,2,3],
    [4,5,6]
]
B=[
    [7,8,9],
    [10,11,12]
]
C=[]
for i in range(len(A)):
  baris= []
  for j in range(len(A[0])):
    baris.append(A[i][j]+B[i][j])
  C.append(baris)
  print(C)

[[8, 10, 12]]
[[8, 10, 12], [14, 16, 18]]

#6.	Rata-rata Nilai Mahasiswa

In [35]:
nilai=[[75,80,85],[60,70,65],[90,95,92]]
for i, baris in enumerate(nilai, start=1):
  rata=sum(baris)/len(baris)
  print(f"rata-rata mahasiswa adalah {baris}")

rata-rata mahasiswa adalah [75, 80, 85]
rata-rata mahasiswa adalah [60, 70, 65]
rata-rata mahasiswa adalah [90, 95, 92]

#7.	Studi Kasus – Data Toko

In [50]:
stock=[["Buku",20],["Pulpen",35], ["Penghapus",15]]
for i in stock:
  nama=i[0]
  jumlah=i[1]
  print(f"Barang: {nama}, stock: {jumlah}")
barang=""
terbanyak=-1
if jumlah>terbanyak:
  terbanyak=jumlah
  barang=nama
print(f"Stok barang terbanyak: {barang}, {terbanyak}")

Barang: Buku, stock: 20
Barang: Pulpen, stock: 35
Barang: Penghapus, stock: 15
Stok barang terbanyak: Penghapus, 15